body {
    background-image: url("ocean.jpg");
}

#message-list li {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    max-width: 80%;
    word-wrap: break-word;
    font-size: 14px;
    font-family: Roboto, sans-serif;
}

#message-list li.user-message {
    margin-left: auto;
    background-color: #09ad10;
    color: white;
}

#message-list li.other-message {
    margin-right: auto;
    background-color: white;
    color: black;
}

#message-list {
    padding: 10px;
    margin-top: 2%;
    margin-left: 2%;
    max-height: 75vh;
    width: 95%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    border-radius: 25px;
    background-color: rgba(16, 16, 16, 0);
    scrollbar-width: none;
}

#message-list::-webkit-scrollbar {
    width: 0;
}

.box {
    position: fixed;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 20vh;
    width: 100%;
    bottom: 0;
    margin-bottom: 15px;
}

#text {
    width: 75vw;
    height: 50px;
    margin-left: 15px;
    border-radius: 25px;
    border: 1px solid white;
    font-size: 14px;
    padding: 15px;
    background-color: #101010;
}

#text:focus {
    background-color: white;
}

#send_button {
    width: 15vw;
    height: 50px;
    margin-left: 10px;
    border-radius: 25px;
}
