<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <link rel="icon" href="{{ url_for('static', filename='web_icon/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='web_icon/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='web_icon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='web_icon/android-chrome-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ url_for('static', filename='web_icon/android-chrome-512x512.png') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='web_icon/apple-touch-icon.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='web_icon/site.webmanifest') }}">

    <link rel="stylesheet" href="../static/commonone.css">
    <link rel="stylesheet" href="../static/chat_room.css">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body class="body">
    <ul id="message-list"></ul>
    <form>
        <input id="text-box" autocomplete="off" placeholder="Enter your text" required>
        <button id="send-button">
            <img src="../static/send-svgrepo-com.svg" alt="Send Icon" width="24" height="24">
        </button>
    </form>

    <script>
        const username = "{{ username }}"; // Ensure this is rendered correctly by server
        window.onload = function() {
            setupWebsocket(username);
            setInactiveOnBeforeUnload(username);
            store_uname(username);
        };
    </script>
    <script src="../static/chat_room.js"></script>
    <script src="../static/logout.js"></script>
    <script src="../static/heartbeat.js"></script>
</body>
</html>
